.tabs .tabs-list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  padding: 8px 16px;
  background-color: var(--light-color);
  color: initial;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 0 1rem;
  border: 1px solid var(--dark-color);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.allergen-nutri-tab.tabs {
  border: none;
  color: var(--white-color);
  background: var(--nutri-table-background);
  border-radius: 0;
}

.allergen-nutri-tab.tabs .tabs-list{
  gap: 0;
  overflow: initial;
}

.allergen-nutri-tab.tabs .tabs-list .tabs-tab{
  flex: 1;
  border: none;
  color: var(--white-color);
  background: var(--nutri-table-background);
  border-radius: 0;
  text-align: center;
  padding: 13px 5px;
  font-size: 11px;
}

.allergen-nutri-tab.tabs .tabs-list button[aria-selected="true"] {
  background: var(--nutri-table-active-bg);
  position: relative;

}

.allergen-nutri-tab.tabs .tabs-list button[aria-selected="true"]::before{
  content: "";
  border: 15px solid transparent;
  border-top-color: var(--nutri-table-active-bg);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50%;
}

.allergen-nutri-tab.tabs .tabs-panel {
  padding: 0;
  background: var(--background-color);
  line-height: 1.563rem;
  border: 1px solid #ddd;
  border-top: 5px solid var(--nutri-table-active-bg);
  border-bottom: 5px solid var(--nutri-table-active-bg);
}

.allergen-nutri-tab.tabs .tabs-panel img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.allergen-nutri-tab.tabs .tabs-panel > div {
  margin-top: 1.2rem;
}

.allergen-nutri-tab.tabs .tabs-panel p {
  margin: 0;
  line-height: 0;
}

@media (width >= 900px) {
  .allergen-nutri-tab.tabs .tabs-list .tabs-tab{
    padding: 1.125rem 1.563px;
    font-size: var(--body-font-size-xs);
  }
}