footer {
  padding: 0.5rem;
  background-color: var(--brand-color);
  font-size: var(--breadcrumbs-font-size);
  color: var(--white-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer-wrapper .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-wrapper .default-content-wrapper img {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.footer-wrapper a {
  margin: 0 1rem;
  color: var(--white-color);
  text-decoration: underline;
  font-family: var(--footer-font-family);
}

.footer-wrapper a:first-child {
  margin-left: 0;
}

.copy-right p {
  font-size: 0.75rem;
}

.footer-wrapper .footer .section {
  padding: 0 2rem;
}

.icon {
  margin: 0 0.5rem;
}

.icon-facebook-mobile,
.icon-instagram-mobile,
.icon-ticktok-mobile {
  display: none;
}

.icon-facebook,
.icon-instagram,
.icon-ticktok {
  display: inline-block;
}

@media (width < 768px) {
  .footer-wrapper p {
    width: 100%;
    margin: 0;
  }

  .footer-container .default-content-wrapper {
    padding-bottom: 2rem;
  }

  .footer-wrapper a {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    line-height: 1.43;
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
  }

  .footer-wrapper a::after {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .75rem;
    background-image: url("https://www.texasroadhouseme.com/permanent-b0b701/assets/images/button-arrow--white.e4177395.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
  }

  .footer-container .default-content-wrapper p:last-child {
    position: absolute;
    top: 1rem;
    z-index: 2;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    width: auto;
  }

  .footer-wrapper .footer .section {
    padding: 0 1rem;
  }

  .icon-facebook-mobile,
  .icon-instagram-mobile,
  .icon-ticktok-mobile {
    display: inline-block;
  }

  .icon-facebook,
  .icon-instagram,
  .icon-ticktok {
    display: none;
  }

  .icon {
    margin: 0;
  }

  .footer-wrapper .default-content-wrapper img {
    width: 20px;
    height: 20px;
  }

  .copy-right {
    text-align: center;
    margin-bottom: 1rem;
  }
}